* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container_frm_cad_usuarios {
    flex: 1;
    display: flex; /* Ativa o layout flexível */
    flex-direction: column;
    align-items: flex-start; /* Alinha os elementos ao topo */
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    height: 97%;
    overflow: hidden;
}

.frm_cadUsuarios {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.frm_cadUsuarios .tamanho-personalizado,
.frm_cadUsuarios .linha {
    width: 40%;
}

.frm_cadUsuarios input, select {
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.frm_cadUsuarios fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    padding: 15px;
    background-color: f9f9f9;
}

.container-salvar-dados {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 85%;
}

.container-salvar-dados button {
    border: none;
    border-radius: 4px;
    width: 20%;
    margin-left: 5px;
    padding: 10px;
}

.btn_remover {
    background-color: red;
    color: #fff;
}

.btn_editar {
    background-color: #857b7b;
}

.btn_editar:hover,
.btn_salvar:hover,
.btn_remover:hover {
    background-color: #cccccc80;
    color: #000;
}


/* ======== Estilização da Tabela de Usuários ======== */

.container-cadastro {
    width: 100%;;
    padding: 10px;
    box-sizing: border-box; /* Evita que padding afete o tamanho total */
}

.container-usuarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.table-cad-usuarios {
    padding: 5px 0px;
    border-collapse: separate;
    width: 100%; /* Garante que a tabela ocupe toda a largura disponível */
    table-layout: fixed; /* Faz com que as colunas respeitem as larguras definidas */
}

.table-cad-usuarios th {
    padding: 5px;
    font-weight: 700;
    background-color: #d9d9d9;
}

.container-usuarios th,
.container-usuarios td {
    font-size: 12px;
    text-align: left; /* Alinha o texto à esquerda */
    white-space: nowrap;
}

/* Muda a cor das linhas ímpares da tabela */
.table-cad-usuarios tbody tr:nth-of-type(odd) {
    background-color: #D9D9D9;
}

.container-usuarios th:nth-child(1), 
.container-usuarios td:nth-child(1) {
    width: 3%; /* Tamanho reduzido para a coluna do ID */
    min-width: 50px; /* Garante que o conteúdo não quebre */
    text-align: center; /* Centraliza o ID */
}

/* Ajusta as larguras das outras colunas */
.container-usuarios th:nth-child(2),
.container-usuarios td:nth-child(2),
.container-usuarios th:nth-child(3),
.container-usuarios td:nth-child(3),
.container-usuarios th:nth-child(4),
.container-usuarios td:nth-child(4),
.container-usuarios th:nth-child(5),
.container-usuarios td:nth-child(5),
.container-usuarios th:nth-child(6),
.container-usuarios td:nth-child(6) {
    width: 5%; /* Largura reduzida para outras colunas */
}

.editar,
.excluir,
.toggle-password {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

.editar i {
    color: blue;
}

.excluir i {
    color: red;
}

.toggle-password {
    color: #000;
}


/* Para evitar problemas de responsividade */
@media (max-width: 768px) {

    #sidebar {
        width: 82px;
    }

    .container_frm_cad_usuarios {
        flex-direction: column; /* Em telas pequenas, empilha os containers */
    }

    .frm_cadUsuarios {
        flex-shrink: 1;
        flex-direction: column;
    }

    .container-cadastro, .container-usuarios {
        width: 100%; /* Em telas pequenas, ocupam toda a largura */
    }
}